streamlit
ultralytics
opencv-python-headless==4.9.0.80
pillow
pandas
matplotlib
reportlab
numpy
streamlit-option-menu
supabase
streamlit-autorefresh
Authlib>=1.3.2
typing_extensions>=4.14.0
tensorflow==2.15.0
